PORT=5000
MONGO_URI=mongodb+srv://utkarshsharmaa44_db_user:Utkarsh_pancholi_2005@smart-rental.h93j08g.mongodb.net/?appName=smart-rental
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

ADMIN_EMAIL=utkarshpancholi7799@gmail.com
ADMIN_PASSWORD=Utkarsh@1212

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
